{% extends 'base.html' %}
{% load static %}
{% block content %}
 <h1>President Message</h1>
  <img src="{% static 'images/pujan.jpeg' %}" align="left" height="100px" width="100px" alt="pujan">
  <p>
    Dear Friends,<br/><br/>

Patients depend on us, but only generous blood donors help us accomplish the extraordinary. A single blood donation can save up to three lives, restarting the natural processes that sustain life. For a victim of a car crash or a patient with cancer, a second chance at life means getting to experience more of life's milestones. One blood transfusion can be profoundly transformative, it can change someone else's view.<br/><br/>

The Hamro Blood, founded as Donate Blood Assurance in 2018, is the largest independently managed, non-profit community blood center in the region, collecting approximately 125,000 units a year. Blood is tested and processed at our state-of-the-art Biologics Processing Center in Kathmandu,Nepal. DB takes great pride in the supportive role it plays in healthcare.<br/><br/>
Linking blood donors to grateful recipients, we align our work as a biologics provider with a healthcare landscape that is constantly changing. Advances in clinical practice are leading to new ways to transfuse the blood we collect and steward. But our sole mission remains. We ensure patients can receive lifesaving blood when and wherever the need arises.<br/><br/>

One out of every seven people who enter a hospital will need a blood transfusion. We thank both our donors and hospital partners who share our dedication to making sure blood is available. Together we serve, never forgetting that we care for families, friends and neighbors.
<h4 align="right">Pujan Gautam</h4>
<h4 align="right">President and CEO</h4>

  </p>
  <br/>
  <br/>
  <h1>Our Mission</h1>
  <p>
    Our mission is to support our healthcare partners with adequate, safe, cost-effective blood supplies and services. Blood sustains precious human life. Its presence and flow allow us to seek the purpose of our existence and attain life’s milestones. When we share blood, wounds heal; individuals thrive; and families remain whole. We share blood to enrich our life experience, casting aside our differences to link the human race through a common, natural bond.
  </p>
</div>
{% endblock %}