{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hamro Blood</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->

    <!-- Animate.css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Superfish -->
    <link rel="stylesheet" href="{% static 'css/superfish.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">


    <!-- Modernizr JS -->
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

</head>
<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <header id="fh5co-header-section" class="sticky-banner">
            <div class="container">
                <div class="nav-header">
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                    <h1 id="fh5co-logo"><a href="base.html">Hamro Blood</a></h1>
                    <!-- START #fh5co-menu-wrap -->
                    <nav id="fh5co-menu-wrap" role="navigation">
                        <ul class="sf-menu" id="fh5co-primary-menu">
                            <li class="active">
                                <a href="{% url 'bloodbank:index' %}">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'bloodbank:register' %}" class="fh5co-sub-ddown">Become a Donor</a>

                            </li>
                            <li>
                                <a href="{% url 'bloodbank:donorinfo' %}" class="fh5co-sub-ddown">Search Donor</a>
                            </li>
                            <li>
                                <a href="{% url 'bloodbank:campaign' %}" class="fh5co-sub-ddown">Campaigns</a>
                            </li>
                            <li>
                                <a href="{% url 'bloodbank:gallery' %}" class="fh5co-sub-ddown">Gallery</a>
                            </li>
                            <li>
                                <a href="{% url 'bloodbank:aboutus' %}" class="fh5co-sub-ddown">About Us</a>
                            </li>
                            <li>
                                <a href="{% url 'bloodbank:contactus' %}" class="fh5co-sub-ddown">Contact Us</a>
                            </li>

                    </nav>
                </div>
            </div>
        </header>


        <div class="section">
            <!-- container -->
            <div class="container">
                {% block content %} {% endblock %}
            </div>
            <!-- /container -->
        </div>
        <!-- fh5co-blog-section -->
        <footer>
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <p class="fh5co-social-icons">
                                <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                                  <a href="https://www.twitter.com/" class="fa fa-twitter"></a>
                                   <a href="https://www.google.com/" class="fa fa-google"></a>
                                    <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
                                     <a href="https://www.instagram.com/" class="fa fa-instagram"></a>

                            </p>
                            <p>Copyright 2019 Hamro Blood . All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


    </div>
    <!-- END fh5co-page -->

</div>
<!-- END fh5co-wrapper -->

<!-- jQuery -->


<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/sticky.js' %}"></script>

<!-- Stellar -->
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<!-- Superfish -->
<script src="{% static 'js/hoverIntent.js' %}"></script>
<script src="{% static 'js/superfish.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>

