{% extends 'base.html' %}
{% load static %}
{% block content %}
    <p>General Guidelines. To donate blood or platelets, you must be in good general health,
        weigh at least 110 pounds, and be at least 16 years old. Parental consent is required
        for blood donation by 16 year olds; 16 year olds are NOT eligible to donate
        platelets.</p><br>
    <img src="{% static 'images/blood1.jpg' %}" alt="blood donation" style="height: 400px; width: 500px">
    <img src="{% static 'images/blood2.jpg' %}" alt="blood donation" style="height: 400px; width: 500px">
    <h1><u>Power Red Donation</u></h1>
    <ul>
    <li>Donation frequency: Every 112 days, up to 3 times/year*; 2 times/year for male donors under age 18</li>
    <li>You must be in good health</li>
        <li><strong>Male donors</strong> must be at least 17 years old in most states, at least 5'1" tall and weigh at least 130 lbs</li>
        <li><strong>Female donors</strong> must be at least 19 years old, at least 5'5" tall and weigh at least 150 lbs</li>
    </ul>
{% endblock %}