{% extends 'base.html' %}
{% load thumbnail %}
{% block content%}
 <div class="row row-bottom-padded-md">
                <div class="col-md-12">
                    <ul id="fh5co-portfolio-list">
                        {% for img in campaign %}
                            <li class="one-third animate-box" data-animate-effect="fadeIn">
                                {% thumbnail img.campaign "270x360" crop="center" as im %}

                                    <img src="{{ im.url }}" alt="">

                                {% endthumbnail %}
                            </li>
                        {% endfor %}
                    </ul>


                </div>
            </div>
{% endblock %}