{% extends 'base.html' %}
{% block content %}
<form method="post" action="{% url 'bloodbank:contactus' %}">
 {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
  <strong>{{ message }}</strong>
</div>
        {% endfor %}
    {% endif %}
   <table align="center" width="50%">
  <thead><h1 align="center"><u>CONTACT US</u></h1></thead>
  <hr>
       {% csrf_token %}
    <tr><td>E-mail</td><td><input type="email" required placeholder="E-mail" name="email"></td></tr>
    <tr><td>Subject</td><td><input type="text" placeholder="subject" name="subject"></td></tr>
    <tr><td>Message</td><td><textarea placeholder="write message" name="message" ></textarea>
    <tr><td><button type="submit" value="submit" name="submit">send message</button></td></tr>
  </table>
</form>
    <br>
    <br>
    <table align="center">
     <tr><td><h2><u>You can also contact us through</u></h2><br></td></tr>
        <br><br>
    <br>
    </table>
    <table align="center" width="50%">
    <tr><td><h4>Email:</h4></td><td><h4>mepujan36@gmail.com</h4> </td></tr>
    <tr><td><h4>Mobile Number:</h4></td><td><h4>9862004829</h4> </td></tr>
    </table>
{% endblock %}