{% extends 'base.html' %}
{% block content %}
    <form method="post" action="{% url 'bloodbank:donorinfo' %}" >
        <div class="container" align="center">
            <center><h1>Search a Donor</h1>
                <p>Please provide the data to search the Donor..</p></center>
            <hr>
            <table align="center" width="87%">
                {% csrf_token %}

                <tr>
                    <td>Blood Type Required</td>
                    <td>
                        <select name="bloodgroup">
                            <option value="choose blood group">Choose Blood Group</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                            <option value="A+">A+</option>
                            <option value="B+">B+</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="B-">B-</option>
                            <option value="A-">A-</option>
                        </select></td>
                    <td>
                    <td>&nbsp</td>
                    <td>Address</td>
                    <td>
                        <input type="text" placeholder="Enter address" name="address" required>
                    </td>
                    <td>&nbsp</td>
                    <td>

                        <button type="submit" value="submit" name="submit" style="height: 55px;width: 200px;">Search
                            Donors
                        </button>
                    </td>
                </tr>
            </table>
    </form>
    </div>
    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li style="color:red">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div style="color:blue">
        {% for info in match %}
            <table border="0px" width="300px">
                <tr>
                    <td>Name:</td>
                    <td>{{ info.name }}</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>{{ info.address }}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{ info.email }}</td>
                </tr>
                <tr>
                    <td>DOB:</td>
                    <td>{{ info.DOB }}</td>
                </tr>
                <tr>
                    <td>Blood Group:</td>
                    <td>{{ info.bloodgroup }}</td>
                </tr>
                <tr>
                    <td>Date Of Last Donation:</td>
                    <td>{{ info.Date_of_last_donation }}</td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td>{{ info.gender }}</td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td>{{ info.state }}</td>
                </tr>
                <tr>
                    <td>Weight:</td>
                    <td>{{ info.weight }}</td>
                </tr>
                <tr>
                    <td>Eligibility:</td>
                    <td>{{ info.eligibility }}</td>
                </tr>
            <br>
            <br>
            </table>
            <table>
            <tr>
                    <td><img src="{{ info.profile_pic.url }}" style="height: 200px;width: 250px" alt=" "></td>
                </tr>
            </table>
        {% endfor %}
    </div>
{% endblock %}