{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    <div id="fh5co-portfolio">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
                    <h3>Our Gallery</h3>
                    <p>Different Blood Donation Campaign held in different time..</p>
                </div>
            </div>


            <div class="row row-bottom-padded-md">
                <div class="col-md-12">
                    <ul id="fh5co-portfolio-list">
                        {% for img in gallery %}
                            <li class="one-third animate-box" data-animate-effect="fadeIn">
                                {% thumbnail img.image "270x360" crop="center" as im %}

                                    <img src="{{ im.url }}" alt="">

                                {% endthumbnail %}
                            </li>
                        {% endfor %}
                    </ul>


                </div>
            </div>
{% endblock %}