{% extends 'base.html' %}
{% load static %}
{% block content %}
    <p>Donating blood can help in treating patients suffering from cancer, bleeding disorders,
        chronic anemia associated with cancer, sickle cell anemia, and other hereditary blood
        abnormalities. It is important to know that human blood cannot be manufactured, people
        are the only source of it and that is why it is important to donate blood and help those
        who need it. It is also possible to store your own blood for your future needs. </p>
    <br>
    <img src="{% static 'images/blood.jpg'%}" style="height:400px;width: 500px" alt="Blood">
    <img src="{% static 'images/savelife.jpg'%}" style="height:400px;width: 500px" alt="Blood">
    <p>
        t is also needed for regular transfusions for people with conditions such as thalassaemia and sickle cell
        disease and is used to make products such as clotting factors for people with haemophilia.

        There is a constant need for regular blood supply because blood can be stored for only a limited time before
        use. Regular blood donations by a sufficient number of healthy people are needed to ensure that safe blood will
        be available whenever and wherever it is needed.

        Blood is the most precious gift that anyone can give to another person — the gift of life. A decision to donate
        your blood can save a life, or even several if your blood is separated into its components — red cells,
        platelets and plasma — which can be used individually for patients with specific conditions.
    </p>
{% endblock %}