{% extends 'base.html' %}
{% load static %}
{% block content %}
    <img src="{% static 'images/ban.jpeg' %}" alt="" style="height: 500px;width: 1200px">
    <!-- end:header-top -->
    <div id="fh5co-features">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-left">
                        <div class="feature-copy">
                            <h3>What is Blood?</h3>
                            <p>Blood is essential to life. Blood circulates through our body and delivers essential
                                substances like oxygen and nutrients to the body’s cells. It also transports metabolic
                                waste products away from those same cells. There is no substitute for blood. It cannot
                                be made or manufactured. Generous blood donors are the only source of blood for patients
                                in need of a blood transfusion.</p>
                            <p><a href="{% url 'bloodbank:what_is_blood' %}">Learn More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="feature-left">

                        <div class="feature-copy">
                            <h3>Become a Blood Donor</h3>
                            <p>General Guidelines. To donate blood or platelets, you must be in good general health,
                                weigh at least 110 pounds, and be at least 16 years old. Parental consent is required
                                for blood donation by 16 year olds; 16 year olds are NOT eligible to donate
                                platelets.</p>
                            <p><a href="{% url 'bloodbank:become_blood_donor' %}">Learn More</a></p>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="feature-left">
                        <div class="feature-copy">
                            <h3>Happy Giving</h3>
                            <p>Donating blood can help in treating patients suffering from cancer, bleeding disorders,
                                chronic anemia associated with cancer, sickle cell anemia, and other hereditary blood
                                abnormalities. It is important to know that human blood cannot be manufactured, people
                                are the only source of it and that is why it is important to donate blood and help those
                                who need it. It is also possible to store your own blood for your future needs. </p>
                            <p><a href="{% url 'bloodbank:happy_giving' %}">Learn More</a></p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div id="fh5co-feature-product" class="fh5co-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center heading-section">
                    <h3>Giving is Virtue.</h3>
                    <p>“Bring a life back to power. Make blood donation your responsibility”</p>
                </div>
            </div>

            <h1>Why blood donation is important?</h1><br>
            <center>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/obXjlquHlhE" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe>

            </center>


        </div>
    </div>


    <div id="fh5co-portfolio">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
                    <h3>Our Gallery</h3>
                    <p>Different Blood Donation Campaign held in different time..</p>
                </div>
            </div>
            <div class="row row-bottom-padded-md">
                <div class="col-md-12">
                    <ul id="fh5co-portfolio-list">
                            <li class="one-third animate-box" data-animate-effect="fadeIn">
                            <img src="{% static 'images/img1.jpg' %}" alt="" style="height: 270px;width: 360px">
                            </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn">
                            <img src="{% static 'images/img2.jpg' %}" alt="" style="height: 270px;width: 360px">
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn">
                            <img src="{% static 'images/img3.jpg' %}" alt="" style="height: 270px;width: 360px">
                        </li>
                    </ul>


                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 text-center animate-box">
                            <a href="{% url 'bloodbank:gallery' %}" class="btn btn-primary btn-lg">See Gallery</a>
                        </div>
                    </div>

                </div>
            </div>

{% endblock %}