{% extends 'base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html>
    <head><title>Blood Donation Campaign</title>

        <style>
            a {
                color: dodgerblue;
            }

            select, #gender, ul, .container1 {
                width: 100%;
                padding: 16px 16px;
                border: none;
                border-radius: 4px;
                background-color: #f1f1f1;
            }

            .container1 {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 15px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            .container1 input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: green;
            }

            /* On mouse-over, add a grey background color */
            .container1:hover input ~ .checkmark {
                background-color: #ccc;
            }

            /* When the checkbox is checked, add a blue background */
            .container1 input:checked ~ .checkmark {
                background-color: #2196F3;
            }

            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            .container1 input:checked ~ .checkmark:after {
                display: block;
            }

            /* Style the checkmark/indicator */
            .container1 .checkmark:after {
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }

        </style>
    </head>
    <body>
    <form method="post" action="{% url 'bloodbank:register' %}" enctype="multipart/form-data">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <div class="container">
            <h3 align="center">Register As a Donor</h3>
            <p>Please fill in this form to create an account.</p>
            <hr>
            {% csrf_token %}
            <label for="Name"><b>Full Name</b></label>
            <input type="text" placeholder="Enter name" name="name" required><br/>
            <label for="Address"><b>Current Address</b></label>
            <input type="text" placeholder="Enter address" name="address" required><br/>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
            <label for="state"><b>State</b></label>
            <select name="state">
                <option value="select">Choose</option>
                <option value="state1">State 1</option>
                <option value="state2">State 2</option>
                <option value="state3">State 3</option>
                <option value="state4">State 4</option>
                <option value="state5">State 5</option>
                <option value="state6">State 6</option>
                <option value="state7">State 7</option>
            </select><br/><br/>
            <div id="gender">
                <label for="gender"><b>Gender</b></label>
                <input type="radio" name="gender" value="male" checked="male"/> Male
                <input type="radio" name="gender" value="female"/> Female
                <input type="radio" name="gender" value="other"/> Others
            </div>
            <br/>

            <label for="weight"><b>Weight</b></label>
            <input type="text" placeholder="weight" name="weight" required>

            <label for="bloodgroup"><b>Blood Group</b></label>
            <select name="bloodgroup">
                <option value="choose blood group">Choose your Blood Group</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="A+">A+</option>
                <option value="B+">B+</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="B-">B-</option>
                <option value="A-">A-</option>
            </select>
            <br/><br/>
            <label for="dateofbirth"><b>Date of Birth</b></label><br/><br/>
            <input type="date" name="DOB" required>
            <label for="mobilenumber"><b>Mobile Number</b></label>
            <input type="text" placeholder="Moblie Number" name="mobilenumber" required>
            <br/><br/>
            <label for="last_donate"><b>Date of Last Donation</b></label><br/>
            <input type="date" placeholder="Enter last donation date" name="Date_of_last_donation" required>
            {{ form.profile_pic }}
            <fieldset>
                <label for="eligibilitycheck"><b>Please check your eligibility to donate blood</b></label>

                <ul style="padding-left:30px;">
                    <li>My hemoglobin is not less than 12.5 grams</li>
                    <br/>
                    <li>I am free from acute respiratory diseases and skin diseases</li>
                    <br/>
                    <li>I do not carry any disease transmissible by blood transfusion</li>
                    <br/>
                    <li>I am not under medication for Malaria / Tuberculosis / Diabetes / Fits / Convulsions</li>
                    <br/>
                </ul>

                <h4>I havenot suffer from</h4>
                <label class="container1">Kidney Diseases
                    <input type="checkbox" name="not_suffer" checked>
                    <span class="checkmark"></span>
                </label>
                <label class="container1">Heart Diseases
                    <input type="checkbox" name="not_suffer">
                    <span class="checkmark"></span>
                </label>
                <label class="container1">AIDS
                    <input type="checkbox" name="not_suffer">
                    <span class="checkmark"></span>
                </label>
                <label class="container1">Cancer
                    <input type="checkbox" name="not_suffer">
                    <span class="checkmark"></span>
                </label>
                </label>
                <label class="container1">Hepatitis B, C
                    <input type="checkbox" name="not_suffer">
                    <span class="checkmark"></span>
                </label>
                <br/><br/>
                <div style="padding-left:10px;">
                    <font color="#FF0000">#</font>
                    <font>Please consult your physician to check for eligibility.
                    </font>
                </div>
                <br/><br/>
                <label>
                    <input type="checkbox" checked="checked" name="eligibility" style="margin-bottom:15px">
                    I have read the above eligibility criteria and confirm that I am eligible to donate blood.
                    <br/><br/>
            </fieldset>
            <br/>
            <p padding-right="10px">By creating an account you agree to our <a href="policy.htm"
                                                                               style="color:dodgerblue">Terms &
                Privacy</a>.</p>
            <button type="submit" value="submit" name="submit">Register</button>
        </div>
    </form>
    </fieldset>
    </body>
    </html>
{% endblock %}
