{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div>
        <p>Blood is essential to life. Blood circulates through our body and delivers essential
            substances like oxygen and nutrients to the body’s cells. It also transports metabolic
            waste products away from those same cells. There is no substitute for blood. It cannot
            be made or manufactured. Generous blood donors are the only source of blood for patients
            in need of a blood transfusion.</p><br>
        <img src="{% static 'images/blood-types.jpg' %}" alt="blood type" style="height: 200px ; width: 250px">
        <h1><u>Types of Blood</u></h1>
        <p>
            People have 8 types of blood:<br>
        <ol>
            <li>A negative</li>
            <li>A positive</li>
            <li>B negative</li>
            <li>B positive</li>
            <li>O negative</li>
            <li>O positive</li>
            <li>AB negative</li>
            <li>AB positive</li>
        </ol>
        </p>
    </div>
{% endblock %}